<h1>Book information (mobile)</h1>
<p>
  <strong>Book name:</strong>
  <%= @book.name %>
</p>
<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>
<p>
  <strong>Publish date:</strong>
  <%= @book.published_on.to_s %>
</p>
